<h1>Pintrests &hearts; </h1>
<p class="explanation">A collection of Pinterest images for hair styles, kittens & eye make up</p>
  <li class="thumbnail"><a href="/hairstyles"><%= @pin_hair %></a></li>
  <li class="thumbnail"><a href="/kittens"><%= @pin_kittens %></a></li>
  <li class="thumbnail"><a href="/eyes"><%= @pin_eyes %></a></li>
</ul>
